{% extends 'reader/reader_base.html.twig' %}

{% block body %}
    <div id="items_container"></div>

    <script type="text/javascript">
      const container = $('#items_container')
      $.ajax({
        type: 'GET',
        url: '{{ path('reader_index_json', {'page': 1}) }}',
        success: function (data) {
          let feedItem
          let header
          let excerpt
          data.items.forEach((item) => {
            feedItem = $('<div></div>').attr('class', 'feed_item ui raised card')

            cardHeader =$('<div></div>').attr('class', 'header').text(item.title)
            cardDescription =$('<div></div>').attr('class', 'description').append($.parseHTML(item.excerpt))
            cardContent =$('<div></div>')
                    .attr('class', 'content')
                    .append(cardHeader)
                    .append(cardDescription)



            feedItem
              .append(cardContent)
              .append($('<hr/>'))

            container.append(feedItem)
          })
        }
      })
    </script>
{% endblock %}
