{% extends 'reader/reader_base.html.twig' %}

{% block body %}
    <div class="ui vertical inverted sidebar menu" id="toc">
    </div>

    <div id="items_container" class="ui items"></div>

    <script type="text/javascript">
      const container = $('#items_container')

      function makeItem (feedItem) {
        const header      = $('<a></a>').attr('class', 'header').text(feedItem.title)
        const image       = $('<div></div>').attr('class', 'image').append($('<img/>').attr('src', '/images/placeholder_image.png'))
        const meta        = $('<div></div>').attr('class', 'meta').text(feedItem.feed_title)
        const description = $('<div></div>').attr('class', 'description').append($.parseHTML(feedItem.excerpt))
        const extra       = $('<div></div>').attr('class', 'extra').append($('<a>').attr('src', '#').text('More...'))

        const content = $('<div></div>').attr('class', 'content')
          .append(header)
          .append(meta)
          .append(description)
          .append(extra)

        return $('<div></div>').attr('class', 'item')
          .append(image)
          .append(content)
      }

      $.ajax({
        type: 'GET',
        url: '{{ path('reader_index_json', {'page': 1}) }}',
        success: function (data) {
          data.items.forEach((feedItem) => {
            container.append(makeItem(feedItem))
          })
        }
      })
    </script>
{% endblock %}
