{% extends 'reader/reader_base.html.twig' %}

{% block body %}

    <div class="ui" id="loader">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <p></p>
    </div>
    <div id="items_container" class="ui items"></div>

    <script type="text/javascript">
      const container = $('#items_container')
      let currentPage = 1

      function makeItem (feedItem) {
        const header = $('<a></a>').attr('class', 'header').text(feedItem.title)

        const imageItem = $('<img/>').attr('src', '/images/placeholder_image.png')
        if (feedItem.image !== null && feedItem.image !== '') {
          imageItem.attr('data-src', feedItem.image)
        }

        const image = $('<div></div>').attr('class', 'image').append(imageItem)

        const meta        = $('<div></div>').attr('class', 'meta').text(feedItem.feed_title)
        const description = $('<div></div>').attr('class', 'description').append($.parseHTML(feedItem.excerpt))
        const extra       = $('<div></div>').attr('class', 'extra').append($('<a>').attr('src', '#').text('More...'))

        const content = $('<div></div>').attr('class', 'content')
          .append(header)
          .append(meta)
          .append(description)
          .append(extra)

        return $('<div></div>').attr('class', 'item')
          .append(image)
          .append(content)
      }

      // Configure all images to lazy-load
      function setImageLazyLoading () {
        $('#items_container.items .image img')
          .visibility({
            type: 'image',
            transition: 'fade in',
            duration: 1000
          })
      }

      // Initial feed items load
      $.ajax({
        type: 'GET',
        url: '{{ path('reader_index_json', {'page': 1}) }}',
        success: function (data) {
          data.items.forEach((feedItem) => {
            container.append(makeItem(feedItem))
          })

          setImageLazyLoading()

          currentPage++

          // Everything ready, remove loading screen
          $('#loader').remove()
        }
      })

      // Infinite scrolling
      let stopLoadingContent = false
      container
        .visibility({
          once: false,
          // update size when new content loads
          observeChanges: true,
          // load content on bottom edge visible
          onBottomVisible: function () {
            if (stopLoadingContent === false) {
              $.ajax({
                type: 'GET',
                url: '{{ path('reader_index') }}' + currentPage,
                success: function (data) {
                  data.items.forEach((feedItem) => {
                    container.append(makeItem(feedItem))
                  })

                  setImageLazyLoading()
                  currentPage++

                  // Stop trying to ask the server for moar data when we reach the end
                  if (data.paginator.currentPage === data.paginator.numPages) {
                    stopLoadingContent = true
                  }
                }
              })
            }
          }
        })
    </script>
{% endblock %}
