{% extends 'reader/reader_base.html.twig' %}

{% block body %}
    <div class="ui vertical inverted sidebar menu" id="toc">
    </div>

    <div id="items_container" class="ui items"></div>

    <script type="text/javascript">
      const container = $('#items_container')
      $.ajax({
        type: 'GET',
        url: '{{ path('reader_index_json', {'page': 1}) }}',
        success: function (data) {
          data.items.forEach((item) => {
            let header      = $('<a></a>').attr('class', 'header').text(item.title)
            let image       = $('<div></div>').attr('class', 'image').append($('<img/>').attr('src', '/images/placeholder_image.png'))
            let meta        = $('<div></div>').attr('class', 'meta').text(item.feed_title)
            let description = $('<div></div>').attr('class', 'description').append($.parseHTML(item.excerpt))
            let extra       = $('<div></div>').attr('class', 'extra').append($('<a>').attr('src', '#').text('More...'))

            let content = $('<div></div>').attr('class', 'content')
              .append(header)
              .append(meta)
              .append(description)
              .append(extra)

            let feedItem = $('<div></div>').attr('class', 'item')

            feedItem
              .append(image)
              .append(content)

            container.append(feedItem)
          })
        }
      })
    </script>
{% endblock %}
