<div class="ui {{ modal_class }} modal">
    <i class="close icon"></i>
    <div class="header">
        <i class="icon rss"></i>
        {{ header_text }}
    </div>
    <iframe src="{{ iframe_url }}" style="height: 250px;" scrolling="no"></iframe>
</div>
