<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
    <head>
        <title>RSS Subscriptions</title>
    </head>
    <body>
    <outline text="Subscriptions" title="Subscriptions">
        {% for feed in feeds -%}
            <outline xmlUrl='{{ url('feed_display', {'id': feed.id}) }}'/>
        {% endfor -%}
    </outline>
    </body>
</opml>
