<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <title>Readability RSS Proxy{% block title %}{% endblock %}</title>
    <style type="text/css">
        button a {
            color: black;
        }

        .orange a {
            color: white;
        }

    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="ui container">
    {% if app.user %}
    <div class="row">
        <div class="ui pointing menu">
            <a class="item {% block feed_section_active %}{% endblock %}" href="{{ path('feed_index') }}">
                Feeds
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="item {% block users_section_active %}{% endblock %}" href="{{ path('user_index') }}">
                Users
            </a>
            {% endif %}

            <div class="right menu">
                <a class="ui item" href="{{ path('app_logout') }}">
                    Logout
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="column">{% block body %}{% endblock %}</div>
    </div>
</div>


{% block javascripts %}{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>
