<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <title>Readability RSS Proxy{% block title %}{% endblock %}</title>
    <style type="text/css">
        button a {
            color: black;
        }

        .orange a {
            color: white;
        }

    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="ui grid container">
    <div class="row">
        <div class="column">{% block body %}{% endblock %}</div>
    </div>
</div>


{% block javascripts %}{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>
