#### RSS Proxy website ###

apiVersion: v1
kind: Service
metadata:
  name: rss-proxy
  namespace: sites
  labels:
    app: rss-proxy
spec:
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: rss-proxy

---

kind: ConfigMap
apiVersion: v1
metadata:
  name: rss-proxy
  namespace: sites
data:
  db.host:      "IP_OR_HOSTNAME_FOR_DATABASE"
  db.port:      "5432"
  db.version:   "9.6"
  db.driver:    "pdo_pgsql"
  db.protocol:  "pgsql"
  db.charset:   "UTF8"
  redis.host:   "redis-rss-proxy"
  cache.prefix: "PREFIX_FOR_CACHE_WHATEVER_YOU_WANT_HERE"

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: rss-proxy
  namespace: sites
  labels:
    app: rss-proxy
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: rss-proxy
  template:
    metadata:
      labels:
        app: rss-proxy
    spec:
      initContainers:
        - image: eu.gcr.io/auron-infrastructure/rss-proxy-php-fpm:latest
          name: db-migration
          command: [ "bin/console", "doctrine:migration:migrate", "--no-interaction" ]
          env:
            - name: APP_ENV
              value: prod

            - name: APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: rss-proxy
                  key: app.secret

            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: redis.host

            - name: REDIS_CACHE_PREFIX_SEED
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: cache.prefix

            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.host

            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.port

            - name: DB_VERSION
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.version

            - name: DB_DRIVER
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.driver

            - name: DB_PROTOCOL
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.protocol

            - name: DB_CHARSET
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.charset

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: rss-proxy
                  key: db.user

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rss-proxy
                  key: db.password

            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: rss-proxy
                  key: db.name

            - name: READABILITY_JS_ENDPOINT
              value: http://readability-js-server:3000

      containers:
        - image: eu.gcr.io/auron-infrastructure/rss-proxy-nginx:latest
          name: nginx

        - image: eu.gcr.io/auron-infrastructure/rss-proxy-php-fpm:latest
          name: php-fpm

          env:
            - name: APP_ENV
              value: prod

            - name: APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: rss-proxy
                  key: app.secret

            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: redis.host

            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.host

            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.port

            - name: DB_VERSION
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.version

            - name: DB_DRIVER
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.driver

            - name: DB_PROTOCOL
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.protocol

            - name: DB_CHARSET
              valueFrom:
                configMapKeyRef:
                  name: rss-proxy
                  key: db.charset

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: rss-proxy
                  key: db.user

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rss-proxy
                  key: db.password

            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: rss-proxy
                  key: db.name

            - name: READABILITY_JS_ENDPOINT
              value: http://readability-js-server:3000

---

apiVersion: v1
kind: Service
metadata:
  name: redis-rss-proxy
  namespace: sites
  labels:
    app: redis-rss-proxy
spec:
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
  selector:
    app: redis-rss-proxy

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-rss-proxy
  namespace: sites
  labels:
    app: redis-rss-proxy
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: redis-rss-proxy
  template:
    metadata:
      labels:
        app: redis-rss-proxy
    spec:
      containers:
        - image: redis:5-alpine
          name: redis

---
#### RSS PROXY CRONJOBS ####

# Ingest cronjob
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: rss-proxy-ingest
  namespace: sites
spec:
  # Run job every 10 mins
  schedule: "*/10 * * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      completions: 1
      backoffLimit: 0
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: runtime
              image: eu.gcr.io/auron-infrastructure/rss-proxy-php-fpm:latest
              command: [ "bin/console", "feed:fetch-all" ]
              env:
                - name: APP_ENV
                  value: prod

                - name: APP_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: rss-proxy
                      key: app.secret

                - name: REDIS_HOST
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: redis.host

                - name: DB_HOST
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.host

                - name: DB_PORT
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.port

                - name: DB_VERSION
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.version

                - name: DB_DRIVER
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.driver

                - name: DB_PROTOCOL
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.protocol

                - name: DB_CHARSET
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.charset

                - name: DB_USER
                  valueFrom:
                    secretKeyRef:
                      name: rss-proxy
                      key: db.user

                - name: DB_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: rss-proxy
                      key: db.password

                - name: DB_NAME
                  valueFrom:
                    secretKeyRef:
                      name: rss-proxy
                      key: db.name

                - name: READABILITY_JS_ENDPOINT
                  value: http://readability-js-server:3000
---

# Cleaner cronjob
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: rss-proxy-cleaner
  namespace: sites
spec:
  # Run job at 03:07
  schedule: "7 3 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      completions: 1
      backoffLimit: 0
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: runtime
              image: eu.gcr.io/auron-infrastructure/rss-proxy-php-fpm:latest
              command: [ "bin/console", "feed:delete-old", '--date=-1 week' ]
              env:
                - name: APP_ENV
                  value: prod

                - name: APP_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: rss-proxy
                      key: app.secret

                - name: REDIS_HOST
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: redis.host

                - name: DB_HOST
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.host

                - name: DB_PORT
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.port

                - name: DB_VERSION
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.version

                - name: DB_DRIVER
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.driver

                - name: DB_PROTOCOL
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.protocol

                - name: DB_CHARSET
                  valueFrom:
                    configMapKeyRef:
                      name: rss-proxy
                      key: db.charset

                - name: DB_USER
                  valueFrom:
                    secretKeyRef:
                      name: rss-proxy
                      key: db.user

                - name: DB_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: rss-proxy
                      key: db.password

                - name: DB_NAME
                  valueFrom:
                    secretKeyRef:
                      name: rss-proxy
                      key: db.name

                - name: READABILITY_JS_ENDPOINT
                  value: ""

---

##### READABILITY JS SERVER #####

apiVersion: v1
kind: Service
metadata:
  name: readability-js-server
  namespace: sites
  labels:
    app: readability-js-server
spec:
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: readability-js-server

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: readability-js-server
  namespace: sites
  labels:
    app: readability-js-server
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: readability-js-server
  template:
    metadata:
      labels:
        app: readability-js-server
    spec:
      containers:
        - image: phpdockerio/readability-js-server:1.0
          name: runtime
